

.linea {

background-color: black;

width: 100%;
height: 40px;
}
.linea a{
    margin: 0px 10px;
}
.linea img{
    
    height: 20px;
}
.linea button{
    font-size: 15px;
    text-align: center;
    margin: 0px 10px;
    height: 30px;
}
.info{
    background: rgb(36, 37, 37);
    
    width: 100%;
    height: 200px;

 
}

.opciones{
    background: rgb(156, 154, 154);
    border: 3px solid rgb(104, 103, 103);
    width: 100%;
    height: 50px;
}

.opciones1{
    background: rgb(156, 154, 154);
    border: 3px solid rgb(104, 103, 103);
    width: 100%;
    height: 50px;
}

.opciones2{
    background: rgb(156, 154, 154);
    border: 3px solid rgb(104, 103, 103);
    width: 100%;
    height: 50px;
}

.opciones button{
    margin: 0px 8px;
}
.login{
    
    margin: 0px 350px;
    width: 600px;
    
}